POSTGRES_PASSWORD=
POSTGRES_USER=
POSTGRES_DB=

POSTGRES_HOST=timescaledb
POSTGRES_PORT=5432

DATABASE_URL=postgres://POSTGRES_USER:POSTGRES_PASSWORD@POSTGRES_HOST:POSTGRES_PORT/POSTGRES_DB

GF_SECURITY_ADMIN_PASSWORD=