apiVersion: 1

datasources:
  - name: TimescaleDB
    type: postgres
    access: proxy
    uid: timescaledb
    url: timescaledb:5432
    user: $POSTGRES_USER
    secureJsonData:
      password: $POSTGRES_PASSWORD
    database: $POSTGRES_DB
    jsonData:
      postgresVersion: 1700
      timescaledb: true
      sslmode: disable
      tlsAuth: false
      tlsAuthWithCACert: false
    isDefault: true
    editable: true

